.logo{
    width: 245px;   
}

.header{
    height: 85px;
    background: #E19BB0;
    font-size: 20px;
    font-family: poppins-medium;
}

#nav-group {
    top: 15px;
    width: 320px;
    border-radius: 8px;
    float: left;
}

#nav-group a{
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

#nav-group a:hover{
    background-color: #ED2560;
    color: blanchedalmond;
    border-radius: 10px;
}

.landing{
    height: 530px;    
}

.services{
    font-family: poppins,semibold;
    font-size: 30px;
}

.card-services{
    margin: 20px 20px;
    width: 340px;
    height: 549px;
}

.img-top{
    height: 304px;
    width: 312px;
    margin-top: 10px;
}

.subtitulo, .text-resumen{
    margin-top: 50px;
    font-size: 18px;
    font-family: poppins-medium;
    text-align: center;
}

.text-resumen{
    margin-top: 25px;
}

.btn{
    background-color: #ED2560;
    color: blanchedalmond;
    width: 100%;
}

footer{
    background-color: #E19BB0;
    height: 160px;
    font-size: 20px;
    font-family: poppins-medium;
    display: flex;
    align-items: center;
}